@font-face {
    font-family: moseu;
    src: url(../fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf);
}

@font-face {
    font-family: moseu-bold;
    src: url(../fonts/MuseoModerno/static/MuseoModerno-Bold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(241, 232, 213);
    font-family: moseu;
}

.container>* {
    margin: 5px;
}

button {
    border: none;
    background-color: rgb(233, 206, 157);
}

button:hover {
    cursor: pointer;
}

.weather {
    height: 400px;
    width: 200px;
    background-color: rgb(155, 197, 245);
    margin-right: 20px;
    position: relative;
}

.weather-info {
    background-color: rgb(227, 237, 252);
    margin: 10px;
    padding: 5px;
}

h3 {
    font-family: moseu-bold;
    margin: 5px;
}

p {
    margin: 1px;
    font-size: 0.9rem;
}

#map {
    width: 500px;
    height: 400px;
}

.close {
    position: absolute;
    top: 5px;
    left: 5px;
}


/* LAYOUT  */

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.weather {
    text-align: center;
    background-color: rgb(160, 201, 235);
    /* background-color: rgb(245, 241, 234);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
    text-align: center;
    display: none;
}

@media (max-width: 580px) {
    .container {
        flex-direction: column;
    }
    .weather-map-container {
        flex-direction: column;
    }
    .weather {
        height: 270px;
        position: fixed;
        top: 25%;
        z-index: 1;
        display: none;
    }
    #map {
        width: 350px;
        height: 250px;
    }
}