* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* LAYOUT  */

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}